body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .grid-container {
    display: grid;
     
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: auto auto;
    gap: 20px;
    padding-right: 150px;
    padding-left: 150px;
    max-width: 100%;
    margin: auto;
  }
  
  .card {
    padding: 25px;
    display: flex;
    box-sizing: border-box;
  }
  
  .full-width {
    grid-column: 1 / span 2;
  }
  
  .icon {
    max-height: 60px;
    margin-top: 14px;
  }
  
  .apple {
    max-height: 60px;
    margin-top: -5px;
  }
  
  .small-icon {
    max-height: 60px;
    margin: 0 10px 35px;
  }
  
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 80px;
    text-align: left;
  }
  
  li {
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
  }