body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
html {
    scroll-behavior: smooth;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
:root {

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}



/* Start nav  */
 
.content{
  padding-top: 60px;
  display: flex;
  justify-content: space-evenly;
  gap: 450px;
  }
  .content .image img{
    align-items: center;
    text-align: center;
    width: 150px;
  }
  .nav-right{
    align-items: center;
    text-align: center;
    display: flex;
    gap: 30px;
  }
  .nav-right ul{
    color: black;
    list-style: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 20px;
  }
  .nav-right ul li a{
    color: black;
    text-align: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
  }
  .nav-right ul li a:hover{
    color:#5153a6 ;
    padding-bottom: 1px black;
    transition: all 0.3s ease-in-out;
  }
  .button{
    font-size: 14px;
   color: white;
    border-radius: 20px;
    background-color:#5153a6;
    height: 37px;
    width: 140px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(245, 16, 16, 0.1);
    transition: all 0.2s linear;
    
  }
  .button:hover{
    background-color: white;
    color: #5153a6;
    border:1px dotted #6610f2 ;
  }
  
  
  
  /* End nav  */
  
  /* start section1  */
  .section1{
  padding: 70px;
  }
  .section1 .container{
    
    display: flex;
    justify-content: space-evenly
    
    
    
  }
  .section1 .container .text{
    text-align: left;
  }
  .section1 .container .text h1{
    padding-top: 40px;
    color: #6610f2;
  }
  .section1 .container .text p{
     color: #6c757d;
  }
  .section1 .container .text a{
    font-size: 14px;
    color: white;
     border-radius: 25px;
     background-color:#5153a6;
     height: 45px;
     width: 170px;
     text-decoration: none;
     text-align: center;
     align-items: center;
     display: flex;
     justify-content: center;
     box-shadow: 0 2px 4px rgba(245, 16, 16, 0.1);
     transition: all 0.2s linear;
  }
  .section1 .container .text a:hover{
    background-color: white;
    color: #5153a6;
    border:1px dotted #6610f2 ;
  }
 
  .section1 .container img{
  width: 450px;
  text-align: center;
  }
  
  /* End section1  */
  
  
  @media (max-width: 1199px) {
    .content {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding-top: 30px;
    }
  
    .nav-right {
      flex-direction: column;
      gap: 15px;
    }
  
    .nav-right ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .button {
      width: 120px;
      height: 35px;
    }
  
    .section1 .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 30px;
    }
  
    .section1 .container .text {
      text-align: center;
    }
    
  
    .section1 .container img {
      width: 100%;
      max-width: 400px;
    }
  }
  
  
  
  @media (max-width: 767px) {
    .content {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding-top: 20px;
    }
  
    .nav-right {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .nav-right ul {
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
  
    .button {
      width: 100px;
      height: 33px;
      font-size: 13px;
    }
  
    .section1 {
      padding: 30px;
    }
  
    .section1 .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 25px;
    }
  
    .section1 .container .text h1 {
      font-size: 24px;
    }
  
    .section1 .container .text p {
      font-size: 14px;
    }
  
    .section1 .container .text a {
      width: 150px;
      height: 40px;
    }
  
    .section1 .container img {
      width: 100%;
      max-width: 300px;
    }
  }
  
  
  






/* Start Payment */
.Payment {
  background-color: var(--light);
  padding: 70px 5vw;
}
.Payment-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  gap: 150px;
}
.Payment .Payment-container img {
  width: 100%;
  max-width: 550px;
  justify-self: center;
}
.Payment-texts {
  text-align: start;
}
.payment-texts h3 {
  color: #5853a9;
  font-size: 30px;
  margin-bottom: 18px;
}
.payment-texts p {
  color: var(--gray-dark);
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 0;
  padding-top: 5PX;
}
.payment-texts a {
  color: var(--indigo);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}
.payment-texts a:hover {
  color: var(--gray-dark);
}
.payment-texts a .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}
.payment-texts a:hover .arrow {
  transform: translateX(5px);
}
.payment-texts a:active .arrow {
  transform: translateX(8px);
}
/* Media */
@media (max-width: 766px) {
  .Payment .Payment-container {
    grid-template-columns: 1fr;
    gap: 50px;
    text-align: start;
  }
  .Payment .Payment-container img {
    max-width: 100%;
    width: 500px;
  }
  .payment-texts {
    text-align: start;
  }
  .payment-texts h3 {
    font-size: 24px;
  }
  .payment-texts p {
    font-size: 16px;
  }
  .payment-texts a {
    font-size: 14px;
  }
}
/* End Payment */


/* end section mariam */


/* start part-shipping */

.box-shipping{
  background-color:#fff;
  width:100% ;
  height: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  
  .shipping-container{
      width: 90%;
      margin: 0 auto;
      padding-top: 70px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  
  .box-shipping-text h2{
  color:#5153a6 ;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px; 
  }
  
  .box-shipping-text p{
  color: #2B2C41;
  font-size: 17px;
   line-height:1.6; 
   white-space: nowrap; 
  }
  .box-shipping a{
   color: #5153a6;   
   text-decoration: none;
  
  }
  .box-shipping a:hover{
   color: black;   
   transition: 0.5s;
  }
  .box-shipping a > i{
      transition: transform 0.5s ease, margin-left 0.5s ease;
      margin-left: 10px; 
  }
  .box-shipping a:hover i{
      margin-left: 0; 
  
  }
  .box-shipping-img img {
      max-width: 550px;
  }
  
      /* media*/
 @media (max-width: 768px) {
.shipping-container {
 flex-direction: column;
 padding: 0 10px;  }

 .box-shipping-img {
 margin-bottom: 20px; 
   max-width: 100%;
   order: -1;
     }

 .box-shipping-text {
   max-width: 100%;
          }
        }
  

        @media (max-width: 427px) {
          .box-shipping-img img {
            margin-bottom: 20px; 
              max-width: 90%;
              order: -1;
                }
                .box-shipping-text p {
                  font-size: 14px;
                         }
        } 
  /* end part-shipping */
  

/* start slides */

.examples h1 {
    display: flex;  
    justify-content: center;
    position: relative;
}
.examples h1::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 1px;
    background-color:rgb(168, 7, 168) ;
    left: 50%;
    bottom: -40%;
    transform: translateX(-50%);
}


 
.slider {
    width: 100%;
    height: auto;
    padding: 70px 0;
    background-color: #f9f9f9;
    overflow: hidden;
    margin-top: 80px;
  }
  
   
  .slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    overflow-x: hidden;
  }
  
 
  .slider-track {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
    
   
  }
  
  
  .slider-item {
    flex: 0 0 300px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
  }
  
 
  .slider-item img {
    width: 140px;
    height: 170px;
    object-fit: contain;
    margin-bottom: 10px;
    
  }
  
  
  .slider-item h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
  }
  
  
  .slider-item .social {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
  }
  
  .slider-item .social img {
    width: 28px;
    height: 28px;
  }
  
  
  #prev,
  #next {
    position: relative;
    background-color:rgb(83, 3, 83);
    color: #fff;
    border: none;

    width: 40px;
     
    height: 40px;
  
    cursor: pointer;
    z-index: 10;
   
  }
  #prev span,
  #next span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    margin-top: -5px;
  }
  #prev:hover,
  #next:hover {
    background-color: purple;
    transition: 0.3s;
  }
  



  
  #prev {
    position: absolute;
    top:-50px;
    left: 60px;
  }
  
  #next {
     
    position: absolute;
    top:-50px;
    right: 0px;
  }
  
  
  @media (max-width: 768px) {
    .slider-track {
      gap: 10px;
    }
  
    .slider-item {
      flex: 0 0 250px;
    }
  
    #prev,
    #next {
      font-size: 20px;
      width: 35px;
      height: 35px;
    }
  }
  
/*end slides */

/* Start Pricing*/
  .pricing{
    background-color: var(--light);
    
  }
  .pricing h1 {
    margin:0 0 50px 0;
    display: flex;  
    justify-content: center;
    position: relative;
  }
  .pricing h1::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 1px;
    background-color:rgb(168, 7, 168) ;
    left: 50%;
    bottom: -40%;
    transform: translateX(-50%);
  }
  .pricing .container{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 30px;
  }
  .pricing .box{
  color: #5153a6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 15px;
  text-align: center;
  background-color: var(--white);
  border-radius: 15px;
}
.pricing .pad{
  padding: 20px;
}
.pricing .box .head{
  font-weight: normal;
  position: relative;
}

.pricing .box:nth-child(2){
  color: white;
  background: linear-gradient(to left, rgba(111, 113, 205, 0.95) 0%, rgba(70, 72, 159, 0.95) 90%) !important;
}
.pricing .box:nth-child(2) .head::before{
  background-color: white ;

}
.head{
  padding-top: 20px;
}
.head::before{
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  margin-bottom: 5px;
  background-color: #5153a6;
  left: 50%;
  bottom: -45%;
  transform: translateX(-50%);
}
.pricing .box ul{
  padding:15px;
}
.pricing .box ul li{
  list-style-type: none;
  padding: 10px;
  margin: 5px;
}
.pricing .box .price{
  padding: 20px 10px 10px 10px;
  font-size: 24px;
}
.pricing .box .price-hide{
  display: none;
  padding: 20px 10px 10px 10px;
  font-size: 24px;
}
.pricing .box .delPrice{
  text-decoration: line-through;
}
.pricing .box .factprice{
  margin: 0 10px;
  font-weight: bold;
}
.pricing .box .text{
  font-size: 15px;
}
.pricing .box .detail{
  font-size: 10px;
}
.pricing .box:nth-child(3) .detail{
  font-size: 12px;
}
.pricing .box a{
  text-decoration: none;
  color: #5153a6;
}
.pricing .box a::before{
  content: "\f104";
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  margin-right: 5px;

}
.pricing .box:nth-child(2) a{
  color: var(--white);
}

#toggle {
  display: none;
}
.pricing .box .switch {
  position: relative;
  appearance: none;
  width: 60px;
  height: 25px;
  border-radius: 15px;
  transform: translatey(30%);
  background: var(--white);
  cursor: pointer;
}
.pricing .box .switch::before{
  content: "";
  position: absolute;
  background-color: rgba(29, 196, 154, 0.95);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  top: 2px;
  right: 2px;
  transition: 0.3s;
}
.pricing .box #toggle:checked + .switch::before{
  right: 36px;

}
.pricing .box #toggle:checked ~ .price{
  display: none;
}
.pricing .box #toggle:checked ~ .price-hide{
  display: block;
}
.pricing .contact{
  grid-column: 1/4;
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  color: #5153a6;
  padding: 30px;
  margin: 15px;
  text-align: center;
  background-color: var(--white);
  border-radius: 15px;
}
.pricing .contact .right{
  text-align: right;
  padding: 10px;
}
.pricing .contact .right h3{
  padding-bottom: 10px;
  font-size: 32px;
}

.pricing .comp{
  display: flex;
  justify-content: center;
  grid-column: 1/4;
  margin-bottom: 50px;
}
/* End Pricing*/

/* Start  */

.start {
  background-color: var(--purple);
  padding: 100px 0;
  margin-top: 80px;
  height: auto;

}

.start .container {
  text-align: center;
}
.start .container p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.start .container button {
  width: 200px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 30px;
  border: none;
  margin-top: 20px;
}

.start .container button:hover {
  background-color: rgb(83, 3, 83);
  color: white;
  transition: 0.5s;

}

/* end start  */


/*start footer*/
footer {
    background: #f9f9f9;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .footer-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-right: 100px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 220px;
    margin: 20px;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--gray-dark);
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: var(--indigo);
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin: 15px 0;
  }
  
  .social-icons a {
    font-size: 24px;
    color: var(--secondary);
    padding: 5px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: var(--indigo);
  }
  
  .footer-info p {
    font-size: 14px;
    margin: 5px 0;
    color:var(--gray);
  }
  .footer-info ul {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  }
  
  .footer-bottom {
     
    background:var(--purple);
     margin: -10px 0px; 
    
    width: calc(100% + 10px);
   
    color: #fff;
  }
  .footer-bottom p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: #fff;
  }
  p strong{
    color:var(--gray-dark);
  }
  div a img .aa{
    width: 30px;
    height: 30px;
    text-align: right;
    
  }
  .left-align{
    text-align: left;
    /* margin-left: 1490px; */
  }
  /*end footer*/
